.container {
  width: 534px;
  height: 396px;
  display: flex;
  justify-content: center;
}

.container img {
  width: 100%;
  z-index: -2;
  border-radius: 20px;
  height: 400px;
  margin-top: 20px;
  box-shadow: 10px -5px 41px 16px rgba(0, 0, 0, 0.64);
  margin-left: 20px;
}
#right-btn,
#left-btn {
  height: 14%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 1em;
  display: flex;
}

button .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  margin: auto 0 auto -2em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  z-index: 0;
  margin: auto -2em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
}
