.conteiner__Personagens {
  display: grid;
  grid-template-columns: repeat(3, 322px);
  grid-template-rows: auto;
  grid-row-gap: 36px;
}
.img__persona {
  width: 300px;
  border-radius: 20px;
  box-shadow: 10px -5px 100px 3px rgba(0, 0, 0, 0.62);
  filter: sepia(97%);
}
.titulo__persona {
  color: black;
  font-weight: 100;
  font-size: 100px;
  margin-bottom: 30px;
}
